
@{
    ViewData["Title"] = "ContactUs";
}

<h1>ContactUs</h1>
<hr />
<div class="row">
    <div class="col-md-3">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">Contact Ways :</div>
            <div class="card-body">
                <h4 class="card-title">Contact Us  </h4>
                <p class="card-text">advertise@bleacherreport.com</p>
                <p class="card-text">media@bleacherreport.com</p>
                <p class="card-text">info@bleacherreport.com</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="jumbotron">
            <h1 class="display-3"> Welcome to Bleacher Report </h1>
            <p class="lead">You can communicate with us in different ways</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>

</div>

