@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h3>Introduction and scope</h3>
<hr />
<p>
    
    This privacy and cookies notice applies to the processing of personal data, including information we collect and store via cookies, by:

    Sky UK Limited, if you access our UK products and services or our online digital platforms (including where Sky UK Limited trades under the name “NOW”), or
    Sky Ireland Limited, acting as agent for Sky Subscribers Services Limited (Irish branch), if you access our Irish products and services or our online digital platforms (including where Sky Ireland Limited trades under the name “NOW”), and
    references in this notice to “Sky”, “we” “us” or “our” should be interpreted accordingly. The processing explained in this notice may be carried out by Sky or other data controllers in the Sky group of companies (including Sky Subscribers Services Limited, Sky In-Home Service Limited and Sky Retail Stores Limited).

    References to Comcast refer to the parent company of Sky, Comcast Corporation, 500 Gravers Road Suite 3000 Plymouth Meeting, PA 19462 United States.

    If you access the products and services of other Sky companies and businesses, you should refer to their privacy notices.
</p>
