@model News

<div class="col-4">
    <div class="card mx-auto mb-3">
        <img src="/images/@(Model.Id).jpg" alt="News Photo" class="card-img-top img-thumbnail" />
        <div class="card-body">
            <h6 class="card-title">@Model.Name</h6>
            <a asp-action="Detailed" asp-controller="Home" asp-route-id="@Model.Id">Read More</a>
        </div>
    </div>
</div>